
    <hr />
    <p>
        <img src="@routes.Assets.at("images/adoptopenjdk.png")" height="60" width="60" alt="Adopt OpenJDK logo" />
        This site is maintained as part of the <a href="http://adoptopenjdk.java.net" target="_blank">Adopt OpenJDK Programme</a>
    </p>
