@(key: Long, tagForm: Form[Tag])
@import helper._
@import helper.twitterBootstrap._

@main(if(key != null) "Update Tag" else "New Tag", false, false, false, false) {

    <h3>@if(key != null) { update tag } else { new tag } </h3>

    @form(if(key != null) {
        routes.AdminApplication.tagUpdate(tagForm.get().getKey())
    }
    else {
        routes.AdminApplication.tagCreate()
    }) {
        @inputText(tagForm("name"), args = '_label -> "Name")
        @inputText(tagForm("description"), args = '_label -> "Description")
        <div>
            <input type="submit" class="btn btn-success" value="@if(key != null) { Update } else { Create }">
        </div>
    }
}