@(page: com.avaje.ebean.Page[Tag])


@main("List Tags", false, false, false, false) {

    <h3>@page.getTotalRowCount() objects</h3>

    @if(page.getTotalRowCount() == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="header">Name</th>
                    <th class="header">Description</th>
                    <th class="actionColumn">Edit</th>
                    <th class="actionColumn">Delete</th>
                </tr>
            </thead>
            <tbody>
            @for(tag <- page.getList()) {
                <tr>
                    <td><a href="@routes.AdminApplication.tagEditForm(tag.getKey())">@tag.name</a></td>
                    <td>@tag.description</td>
                    <td><a class="btn btn-mini btn-danger pull-right spaced" href="@routes.AdminApplication.tagEditForm(tag.getKey())">Edit</a></td>
                    <td><a class="btn btn-mini btn-danger pull-right spaced" href="@routes.AdminApplication.tagDelete(tag.getKey())">Delete</a></td>
                </tr>
            }
            </tbody>
        </table>

    }
}